header img.h-6 {
  width: 48px !important;
  height: 48px !important;
}

/* Show "Supaslidev" title next to logo on tablet and desktop */
@media (min-width: 768px) {
  header a[href='/'] {
    display: flex;
    align-items: center;
  }

  header a[href='/']::after {
    content: 'Supaslidev';
    margin-left: 0.2rem;
    font-weight: 600;
    font-size: 1.25rem;
  }
}
